#varify{
	margin-bottom: 20%;
	margin-top: 20%;
	align-content: center;
}

#varify p{
	text-align: center;
	font-size: 50px;
	font-family: "Lucida Console", "Courier New", monospace;
}

#varify button{
	margin-left: 46%;
	margin-right: 45%;
}